.App {
  text-align: left;
  padding: 50px 400px;
}

.main-form {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-shadow: 3px 2px gray;
}

.form-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 3px 2px gray;
  padding-bottom: 15px;
}

.form-label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.span-text {
  color: red;
}

.group-together {
  border-radius: 15px;
  padding: 50px;
  box-shadow: 2px 2px 5px gray;
}

@media (max-width: 600px) {
  .App {
    padding: 50px 15px;
  }
}

@media (min-width: 600px) and (max-width: 1365px) {
  .App {
    padding: 50px 50px;
  }
}